body {
    background-color: #ebccee;
    font-family: "Heebo", sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 100%;
}
h2 {
    text-align: center;
}
.crucigrama {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    justify-content: center;
    
}
.crucigrama input {
    background-color: #ecd8ee;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
}

@media (max-width: 800px) {
    .crucigrama {
        margin: 0 auto;
        font-size: 12px;
        gap: 0px;
        margin: 1px 1px;
    }

    .crucigrama input {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .botonVer {
        display: flex;
        margin-top: 20px;
    }
}

.boton-verificar {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre el crucigrama y el botón */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    max-width: 100px;
}

.botonVer {
    display: flex;
    justify-content: center;
}

#resultado {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.pagina {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
    background-color: #d2a5d6;
    height: 110px;
    width: 100%;
    
    padding: 0;
}

.Enlace {
    text-decoration: none;
    color: black;
    
}

.IG{
    background-color: rgb(49, 49, 49);
    margin-top: 42px;
    margin-left: 5px;
    max-width: 34px;
    margin-right: 50px;
    height: 34px;
    border-radius: 17px;
}

.imgEmail {
    background-color: white;
    margin-top: 50px;
    max-width: 24px;
    height: auto;
}

.info {
    color: rgb(40, 42, 43);
    margin-left: 50px;
}

.contactos {
    display: flex;
    justify-content: end;
    margin-right: 55px;
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}