body{
    background-color: #ebccee;
    font-family: "Heebo", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: #d3a1d8;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.seleccionado {
    background-color: #be87c4;
    color: black;
}

.boton.correcto {
    background-color: #28a745; /* Color cuando es correcto */
}

.correcto {
    background-color: rgb(105, 201, 105);
    color: white;
}

#pasarNivel {
    display: none;
    margin-top: 20px;
}

.operacion {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 150px;
}

.respuesta {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 150px;
}

.contenedor{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 50px;

}

.siguiente {
    display: flex;
    justify-content: center;
    
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}

.contenido {
    display: flex;
    
    background-color: aliceblue;
    border-radius: 20px;
    width: 170px;
    height: 130px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;

}

.contenido2 {
    display: flex;
    background-color: rgb(231, 224, 214);
    border-radius: 20px;
    width: 120px;
    height: 140px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;

}

.contenido3 {
    font-size: 70px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 120px;
    height: 140px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 0;

}

.contenido3.correcto {
    font-size: 70px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 120px;
    height: 140px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 0;

}

.contenido4 {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 120px;
    height: 140px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 0;

}

.arriba {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.arriba2 {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.abajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.abajo3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.abajo2 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.der {
    margin-left: 20px;
}

#botonExtra {
    margin-top: 20px;
}

.frac {
    margin: 30px auto;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(231, 224, 214);
    height: 450px;
    width: 350px;
}

.frac2 {
    margin: 30px auto;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(231, 224, 214);
    height: 450px;
    width: 350px;
}

.frac3 {
    
    border-radius: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100px;
    width: 150px;
}



.contfrac {
    margin: 30px auto;
    background-color: rgb(231, 224, 214);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 30px;
}

.espacio {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.espaciote {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

@media(max-width: 1000px) {
    .frac2{
        width: 300px;
        height: 400px;
    }

    .frac3 {
    
        border-radius: 15px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 200px;
        width: 75px;
    }

    .contfrac {
        margin: 30px auto;
        width: 300px;
        height: 200px;
        border-radius: 15px;
    }

    .contenido4 {
        font-size: 40px;
        border-radius: 10px;
        width: 60px;
        height: 70px;
        border: 2px;
    
    }
}

.contcorrecto {
    background-color: rgb(96, 212, 96);
}

.abajopipi {
    margin-top: 100px;
}

.ejercicio{
    margin: 30px auto;
    background-color: rgb(231, 224, 214);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 30px;
}

.contenedorpipi {
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pipisota {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.mal {
    width: 70px;
    height: 70px;
    font-size: 70px;
}

.centro{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.corr{
    color: rgb(96, 212, 96);
}

.incorr{
    color: rgb(196, 10, 10);
}

.entrada {
    width: 50px;
    justify-content: center;
}

.boton-extra-container{
    display: none;
}

#nextButton{
    display: none;
}

#inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}