body {
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
    text-align: justify;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

.niveles {
    margin-top: 50px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

.niveles:disabled:active {
    background-color: rgb(128, 121, 136);
    border-color: rgb(86, 80, 92);
    cursor: not-allowed;
}

.niveles:disabled {
    background-color: rgb(169, 155, 182);
    border-color: rgb(119, 110, 128);
    cursor: not-allowed;
}

.niveles:active{
    background-color: rgb(196, 155, 235);
    border-color: rgb(178, 127, 226);
}

#botones {
    display: flex;
    justify-content: center;
    text-align: center;
    float: none; /* Asegura que no haya flotación */
    flex-direction: column;
    
}