body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
input[type="number"] {
    padding: 10px;
    width: 50px;
    text-align: center;
    
    display: none; /* Ocultar el input inicialmente */
}
button {
    padding: 10px 20px;
    margin-top: 10px;
}
#nextButton {
    display: none; /* Ocultar el botón de siguiente inicialmente */
}
#timeSelection {
    display: block; /* Mostrar el selector de tiempo inicialmente */
}
#results {
    display: none; /* Ocultar los resultados al principio */
}

nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
    background-color: #d2a5d6;
    height: 110px;
    width: 100%;
    
    padding: 0;
}

.Enlace {
    text-decoration: none;
    color: black;
    
}

.IG{
    background-color: rgb(49, 49, 49);
    margin-top: 42px;
    margin-left: 5px;
    max-width: 34px;
    margin-right: 50px;
    height: 34px;
    border-radius: 17px;
}

.imgEmail {
    background-color: white;
    margin-top: 50px;
    max-width: 24px;
    height: auto;
}

.info {
    color: rgb(40, 42, 43);
    margin-left: 50px;
}

.contactos {
    display: flex;
    justify-content: end;
    margin-right: 55px;
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}

.mas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.jiji {
    margin-bottom: 400px;
}
