body {
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

/* Container Styles */
h1 {
    text-align: center;
}

.Titulo {
    margin-top: 100px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
}

.Text {
    display: flex;
    font-size: 18px;
    justify-content: center;
    
}

.Cont {
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-items: center;
    
}

@media (max-width: 800px) {
    .cont {
        max-width: 700px;
    }

    .Titulo {
        font-size: 20px;
    }

    .Text {
        text-align: justify;
        font-size: 16px;
        margin: 0 auto;
        height: auto;
        max-width: 400px;
    }
}

.niveles {
    font-size: 30px;
    margin-top: 50px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

.niveles:disabled:active {
    background-color: rgb(128, 121, 136);
    border-color: rgb(86, 80, 92);
    cursor: not-allowed;
}

.niveles:disabled {
    background-color: rgb(169, 155, 182);
    border-color: rgb(119, 110, 128);
    cursor: not-allowed;
}

.niveles:active{
    background-color: rgb(196, 155, 235);
    border-color: rgb(178, 127, 226);
}

#botones {
    display: flex;
    justify-content: center;
    text-align: center;
    float: none; /* Asegura que no haya flotación */
    flex-direction: column;
    
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
    background-color: #d2a5d6;
    height: 110px;
    width: 100%;
    
    padding: 0;
}

.Enlace {
    text-decoration: none;
    color: black;
    
}

.IG{
    background-color: rgb(49, 49, 49);
    margin-top: 42px;
    margin-left: 5px;
    max-width: 34px;
    margin-right: 50px;
    height: 34px;
    border-radius: 17px;
}
.imgEmail {
    background-color: white;
    margin-top: 50px;
    max-width: 24px;
    height: auto;
}

.info {
    color: rgb(40, 42, 43);
    margin-left: 50px;
}

.contactos {
    display: flex;
    justify-content: end;
    margin-right: 55px;
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}

.imagen-overlay1{
    position: absolute; /* Esto mantiene la posición relativa a la pantalla */
    top: 350px; /* Ajusta la distancia desde la parte superior de la pantalla */
    right: 79%; /* Ajusta la distancia desde el borde izquierdo de la página */
    width: 100px; /* Ocupa todo el ancho de la página */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    z-index: 9999; /* Asegura que quede por encima del resto del contenido */
}

.imagen-overlay2{
    position: absolute; /* Esto mantiene la posición relativa a la pantalla */
    top: 700px; /* Ajusta la distancia desde la parte superior de la pantalla */
    left: 70%; /* Ajusta la distancia desde el borde izquierdo de la página */
    width: 100px; /* Ocupa todo el ancho de la página */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    z-index: 9999; /* Asegura que quede por encima del resto del contenido */
}

.imagen-overlay3{
    position: absolute; /* Esto mantiene la posición relativa a la pantalla */
    top: 1050px; /* Ajusta la distancia desde la parte superior de la pantalla */
    right: 79%; /* Ajusta la distancia desde el borde izquierdo de la página */
    width: 100px; /* Ocupa todo el ancho de la página */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    z-index: 9999; /* Asegura que quede por encima del resto del contenido */
}


@media (max-width: 800px) {
    .imagen-overlay1{
        width: 50px;
    }

    .imagen1{
        width: 90px;
    }

    .imagen2{
        width: 90px;
    }

    .imagen3{
        width: 90px;
    }

    .niveles {
        font-size: 24px;
        margin-top: 30px;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        
    }

    .imagen-overlay3{
        
        right: 69%; /* Ajusta la distancia desde el borde izquierdo de la página */
        
    }
}