/* General Styles */
h1 {
    display: flex;
    justify-content: center;
}



.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;
    height: 100%;

}

body {
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

/* Navigation Styles */
nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

/* Container Styles */

.Titulo {
    margin-top: 100px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
}

.Text {
    display: flex;
    font-size: 18px;
    justify-content: center;
    
}

.Cont {
    
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-items: center;
    
}

@media (max-width: 800px) {
    .cont {
        max-width: 700px;
    }

    .Titulo {
        font-size: 20px;
    }

    .Text {
        text-align: justify;
        font-size: 16px;
        margin: 0 auto;
        height: auto;
        max-width: 400px;
    }
}

.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

@media (max-width: 1000px) {
    #link {
        max-width: 95%;
    }

}

#problema {
    font-size: 24px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

#resolucion {
    font-size: 24px;
    display: flex;
    justify-content: center;
    
}

#contBoton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#boton {
    display: flex;
    justify-content: center;
    width: 120px;
}

.resultado {
    font-size: 1.2em;
    color: green;
}
.incorrecto {
    color: red;
}

#mensaje {
    display: flex;
    justify-content: center;
}



#link-act {
    color: black;
    text-decoration: none;
}

#link-act2 {
    color: black;
    text-decoration: none;
}


#regreso {
    border-radius: 5px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

#regreso2 {
    border-radius: 5px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

#regreso3 {
    border-radius: 5px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

#regreso4 {
    border-radius: 5px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

#regreso5 {
    border-radius: 5px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

#regreso6 {
    border-radius: 5px;
    background-color: rgb(214, 181, 245);
    border-color: rgb(196, 155, 235);
}

#regreso:active {
    background-color: rgb(196, 155, 235);
    border-color: rgb(178, 127, 226);
}

#cont-boton {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#contenedor {
    font-size: 38px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    max-width: 600px;
}

@media (max-width: 1000px) {
    #contenedor {
        font-size: 20px;
        max-width: 400px;
    }
}

#con {
    
    display: grid;
    place-items: center;
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
    background-color: #d2a5d6;
    height: 110px;
    width: 100%;
    
    padding: 0;
}

.Enlace {
    text-decoration: none;
    color: black;
    
}

.IG{
    background-color: rgb(49, 49, 49);
    margin-top: 42px;
    margin-left: 5px;
    max-width: 34px;
    margin-right: 50px;
    height: 34px;
    border-radius: 17px;
}

.imgEmail {
    background-color: white;
    margin-top: 50px;
    max-width: 24px;
    height: auto;
}

.info {
    color: rgb(40, 42, 43);
    margin-left: 50px;
}

.contactos {
    display: flex;
    justify-content: end;
    margin-right: 55px;
}

.imagenes {
    
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.Actividades {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 500px;
}

@media (max-width: 800px){
    .Actividades{
        flex-direction: column;
    }
}

.espacio{
    margin-bottom: 500px;
}

.temas {
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}

body {
    margin: 0;
    overflow: hidden;
}
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    pointer-events: none;
    animation: fall 0.7s forwards;
    z-index: 9999; /* Asegúrate de que el confeti esté por encima de otros elementos */
}

@keyframes fall {
    to { transform: translateY(100vh); }
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}