/* General Styles */
.imgDPCL {
    width: 200px;
    height: auto;
}

body {
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
}

/* Container Styles */

.Titulo {
    margin-top: 100px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
}

.Text {
    display: flex;
    font-size: 18px;
    justify-content: center;
}

.Cont {
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-items: center;
}

.imagen1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}