/* General Styles */
.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

body {
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

/* Container Styles */

.Titulo {
    margin-top: 100px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
}

.Text {
    display: flex;
    font-size: 18px;
    text-align: center;
}

.Cont {
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-items: center;
    
}

@media (max-width: 800px) {
    .cont {
        max-width: 700px;
    }
}

.imagen1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}