/* General Styles */
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

input{
    text-align: center;
}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

body {
    font-family: "Heebo", sans-serif;
    background-color: #ebccee;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b081db;
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

/* Container Styles */

.titulo {
    margin-top: 100px;
    margin-bottom: 0;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.Text {
    margin-top: 50px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    
}

.Cont {
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-items: center;
    
}

@media (max-width: 800px) {
    .Cont {
        width: 350px;
    }

    .titulo {
        font-size: 18px;
    }

    .Text {
        text-align: justify;
        font-size: 16px;
        margin: 30px auto;
        height: auto;
        max-width: 400px;
    }

    #problema {
        width: 350px;
    }
}

.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

@media (max-width: 1000px) {
    #link {
        max-width: 95%;
    }

}

#problema {
    margin: 0 auto;
    font-size: 24px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;

}

#problemaLOGIC {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;

}

#problemaLOGIC2 {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;

}


#problema2 {
    margin: 0 auto;
    font-size: 24px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;

}

#resolucion {
    font-size: 24px;
    display: flex;
    justify-content: center;
    
}

#contBoton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#boton {
    background-color: rgb(214, 181, 245);
    display: flex;
    justify-content: center;
    width: 120px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
}

#boton:active{
    background-color: rgb(196, 155, 235);
    border-color: rgb(178, 127, 226);
}

#botonExtra {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Centra el botón */
    align-items: center;     /* Asegura que el contenido esté centrado verticalmente */
}

.boton-extra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Aseguramos que el contenedor ocupe todo el ancho disponible */
    margin-top: 30px;
}

#nextButton {
    background-color: rgb(214, 181, 245);
    width: 120px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que el texto esté centrado dentro del botón */
}

#nextButton:disabled {
    background-color: rgb(169, 155, 182);
    border-color: rgb(119, 110, 128);
    cursor: not-allowed;
}

#nextButton:active{
    background-color: rgb(196, 155, 235);
    border-color: rgb(178, 127, 226);
}

#nextButton a {
    pointer-events: none; /* Asegura que el enlace no sea clickeable si el botón está deshabilitado */
}

.resultado {
    font-size: 1.2em;
    color: green;
}
.incorrecto {
    color: red;
}

#mensaje {
    display: flex;
    justify-content: center;
}

#mensaje2 {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
    background-color: #d2a5d6;
    height: 110px;
    width: 100%;
    
    padding: 0;
}

.Enlace {
    text-decoration: none;
    color: black;
    
}

.IG{
    background-color: rgb(49, 49, 49);
    margin-top: 42px;
    margin-left: 5px;
    max-width: 34px;
    margin-right: 50px;
    height: 34px;
    border-radius: 17px;
}

.imgEmail {
    background-color: white;
    margin-top: 50px;
    max-width: 24px;
    height: auto;
}

.info {
    color: rgb(40, 42, 43);
    margin-left: 50px;
}

.contactos {
    display: flex;
    justify-content: end;
    margin-right: 55px;
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}

.botones {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

#No {
    margin-left: 25px;
}

.pipi {
    background-color: rgb(214, 181, 245);
    display: flex;
    justify-content: center;
    width: 40px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
}

.pipi2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#botonCompletar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#regreso {
    background-color: rgb(214, 181, 245);
    width: 120px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
    text-align: center;
    align-items: center; /* Asegura que el texto esté centrado dentro del botón */
}

.boton-verificar {
    background-color: rgb(214, 181, 245);
    width: 120px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
    text-align: center;
    align-items: center; /* Asegura que el texto esté centrado dentro del botón */

}

.enlaceTema {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.enlacePrimos {
    color: white;
    text-decoration: underline;
}

.instruccion {
    display: flex;
    justify-content: center;
    text-align: center;
}

.correcto {
    background-color: rgb(96, 212, 96);

    color: white;
}

.pastel {
    display: flex;
    margin: 30px auto;
}

.BIEN{
    color: rgb(96, 212, 96);
}

.centro{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#boton1pipi {
    margin-top: 10px;
    background-color: rgb(214, 181, 245);
    display: flex;
    justify-content: center;
    width: 120px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
    width: 120px;
    height: 38px;
    text-align: center;
    align-items: center; /* Asegura que el texto esté centrado dentro del botón */
}

#boton1pipi:active{
    background-color: rgb(196, 155, 235);
    border-color: rgb(178, 127, 226);
}

.imagenes {
    
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.Actividades {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 500px;
}

@media (max-width: 800px){
    .imagenes{
        margin-top: 10px;
    }

    .Actividades{
        flex-direction: column;
    }
}

.parte-abajo{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.der{
    margin-left: 10px;
}

.parte-arriba{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#problem{
    display: none;
}

#disAnswer{
    display: none;
}

#menu{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    flex-direction: column;
    align-items: center;
}

.menuGrande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

#nota,#notaGuardada{
    margin-top: 20px;
    width: 300px;
    justify-content: center;
}

#guardarNota{
    margin-top: 20px;
    width: 120px;
}

@media (max-width: 800px){
    #menu{
        width: 400px;
    }

    #nota,#notaGuardada{
        width: 200px;
    }
}

#ex2{
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#ex3{
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#escuela{
    margin-top: 10px;
    
}

#continueButton{
    margin-top: 10px;
    margin-bottom: 20px;
}

#botonExtra{
    display: none;
}

#boton3pipi{
    margin-top: 10px;
    background-color: rgb(214, 181, 245);
    display: flex;
    justify-content: center;
    width: 150px;
    border-color: rgb(196, 155, 235);
    border-radius: 5%;
    
    height: 50px;
    text-align: center;
    align-items: center; /* Asegura que el texto esté centrado dentro del botón */
}

#problemapipi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#pipis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    text-align: justify;
}

@media (max-width: 800px){
    .Cont{
        margin-bottom: 500px;
    }

    .abajo{
        margin-bottom: 500px;
    }
}