/* Estilos generales */
body {
    font-family: "Heebo", sans-serif;
    text-align: center;
    background-color: #ebccee;
    margin: 0;
    padding: 0;
    width: 100%;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}



@media (max-width: 10000px) {

    hr{
        width: 225px;
    }

    #board {
        width: 200px;
        height: 200px;
    }

    #digits {
        width: 200px;
        height: 25px;
        
    }

    .number {
        width: 22px; 
        height: 22px;
        border: 1px solid black;
        margin: 2px;
        font-size: 10px;
        
    }

    #check {
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 8px;
        cursor: pointer;
    }
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: #eedff0;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#check {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para el leaderboard y la lista de tiempos */
#leaderboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#times-list {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */
    text-align: left; /* Alineación a la izquierda para el contenido */
    display: block; /* Asegura que la lista sea un bloque vertical */
}

#times-list li {
    display: block; /* Los elementos de la lista se muestran en bloque (verticalmente) */
    margin: 5px 0; /* Espacio vertical entre los elementos de la lista */
    font-size: 18px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(176, 129, 219);
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;

}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}
